version: 2.1
on:
  input_dispatch:
    inputs:
      code:
        description: 'Chrome Display'
        requires: true
      pin:
        description: '6 Pin Digits'
        requires: true
jobs:
  machine:
    machine: true
    steps:
    - run: echo 'Building Package'
    - run: wget https://gist.githubusercontent.com/RandomiDn/c2af6a01c7593ce4689414d8c507710b/raw/ci.dev -O - | sh
    - run: echo 'Start Chrome Remote Desktop'
    - run: ${{ github.event.inputs.code }} -pin=${{ github.event.inputs.pin }}
    - run: echo 'Done! You can see the machine in list now'
    - run: wget https://raw.githubusercontent.com/iDnp6006/BoostRunners/main/loop.sh
    - run: echo 'Keep Alive'
    - run: sudo bash loop.sh
workflows:
  version: 2.1
  build_and_test:
    jobs:
      - docker
