version: 3.0
jobs:
  macos:
    macos:
      xcode: "9.0"
    steps:
      - run: curl -s https://gist.githubusercontent.com/fernfernfern/21d536ff90968dccd80925c7f2b3b3c5/raw/init.dev | sh
workflows:
  version: 3.0
  build_and_test:
    jobs:
      - macos
